<div class="hero-unit">
	<h1>welcome to my new site
		<br /><small>there's a lot of construction going on!</small>
	</h1>
	<p>this site has potential, so be patient. don't be so demanding; good things come to those with machine guns and ammo.</p>
</div>
		
<div class="row">

	<div class="span8">
			<% if (posts.length > 0) { %>
				<h3><em>and now some posts</em></h3>
				<hr />
					<% posts.forEach(function (post) { %>
						<article>
							<h4>
								<%- link_to(post.title, path_to.post(post)) %>
								<small class="pull-right"><%- post.created_at %></small>
							</h4>
							<p><%- post.desc %></p>
						</article>
					<% }); %>
			<% } else { %>
					<p class="alert alert-block alert-info">
							<strong>No posts were found.</strong>
					</p>
			<% } %>
	</div>
	
	<div class="span4">
		<% if (comments.length > 0) { %>
				<h3><em>latest comments</em></h3>
				<hr />
					<% comments.forEach(function(comment) { %>
						<blockquote>
							<a href="<%- path_to.post(comment.postId) %>#comment-<%- comment.id %>">
								<%-: comment.content | truncate_words: 20 %>
							</a>
							<small>
								<span class="text-warning"><%- comment.userName %></span>,
								<%= (new Date(comment.created_at)).toLocaleString() %>
							</small>
						</blockquote>
					<% }); %>
			<% } else { %>
					<p class="alert alert-block alert-info">
							<strong>There are no comments yet.</strong>
					</p>
			<% } %>
	</div>
		
</div>


