<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.memberships() %>">memberships</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit membership</a></li>
</ul>

<div class="page-header">
    <h1>Edit Membership</h1>
</div>

<% var form = formFor(membership, {action: pathTo.membership(membership), method: 'PUT', id: "membership-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update membership', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.membership(membership), {class: 'btn'}) %>
</div>
<%- form.end() %>
