<%- errorMessagesFor(comment) %>

<div class="control-group">
   <%- form.label("displayName", "Display Name", { class: "control-label" }) %>
   <div class="controls">
       <%- form.input("displayName", { value: commentor.name, class: "span4" }) %>
   </div>
</div>

<div class="control-group">
   <%- form.label("body", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("body", { class: "span8", rows: "4" }) %>
   </div>
</div>

<%- form.input("userId", { type: "hidden", value: commentor.id }) %>
<%- form.input("postId", { type: "hidden", value: post.id }) %>