<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.comments() %>">comments</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit comment</a></li>
</ul>

<div class="page-header">
    <h1>Edit comment</h1>
</div>

<% var form = formFor(comment, {action: pathTo.comment(comment), method: 'PUT', id: "comment-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update comment', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.comment(comment), {class: 'btn'}) %>
</div>
<%- form.end() %>
