<!--admin/index-->
<div class="row">
	<div class="span12">
		<h1>Administration Dashboard</h1>
	</div>
</div>

<hr />

<div class="row">
	<div class="span4">
		<h2>Posts</h2>
		<h4>Create and manage blog posts.</h4>
		<ul class="nav nav-list">
			<li class="nav-header">Actions</li>
			<li><%- link_to('Manage', path_to.admin_posts()) %></li>
			<li><%- link_to('Create', path_to.new_admin_post()) %></li>
		</ul>
	</div>
	<div class="span4">
		<h2>Comments</h2>
		<h4>Manage blog comments.</h4>
		<ul class="nav nav-list">
			<li class="nav-header">Actions</li>
			<li><%- link_to('Manage', path_to.admin_comments()) %></li>
		</ul>
	</div>
	<div class="span4">
		<h2>Users</h2>
		<h4>Manage site users and commentors.</h4>
		<ul class="nav nav-list">
			<li class="nav-header">Actions</li>
			<li><%- link_to('Manage', path_to.admin_users()) %></li>
		</ul>
	</div>
</div>

<hr />

<div class="row">
	<div class="span4">
		<h2>Roles</h2>
		<h4>Create and manage roles.</h4>
		<ul class="nav nav-list">
			<li class="nav-header">Actions</li>
			<li><%- link_to('Manage', path_to.admin_roles()) %></li>
			<li><%- link_to('Create', path_to.new_admin_role()) %></li>
		</ul>
	</div>
</div>
<!--admin/index-->
