  <!--partials/nav_menu-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
				<a class="brand" href="#">Project name</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <%- link_to("posts", pathTo.posts) %>
            </li>
            <li>
              <%- link_to("contact", pathTo.contact) %>
            </li>
            <li>
              <%- link_to("about", pathTo.about) %>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
              <% if (typeof(userName) !== 'string') { %>
                <li><%- link_to("login", pathTo.login) %></li>
              <% } else { %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <%- userName %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%- link_to("logout", pathTo.logout) %></li>
                  </ul>
                </li>
              <% } %>
          </ul>
        </div>
			</div>
		</div>
	</div>
  <!--partials/nav_menu-->
