<%- errorMessagesFor(post) %>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("content", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("content", {class: "input-xxlarge", rows: 5}) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("desc", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("desc", {class: "input-xxlarge"}) %>
   </div>
</div>

<script>
	$('textarea').wysihtml5();
</script>
