<ul class="breadcrumb">
  <li><%- linkTo('Administration Panel <span class="divider">/</span>', pathTo.admin()) %></li>
  <li><%- linkTo('Posts Management <span class="divider">/</span>', pathTo.admin_posts(), { class: 'active' }) %></li>
</ul>
<div class="page-header">
  <h1>Posts Management</h1>
</div>
<div class="row">
  <div class="span12">
    <p>
      <%- link_to( '<i class="icon-plus icon-white"></i> New post', pathTo.new_admin_post(), {class: 'btn btn-primary'}) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="span12">
    <% if (posts.length > 0) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Comments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach(function (post) { %>
          <% var author = post.author(function(err, a) { return a || '' }) %>
          <tr>
            <td>
              <strong><%- link_to(post.title, pathTo.admin_post(post)) %></strong>
            </td>
            <td><strong><%- link_to(author.displayName, pathTo.admin_user(author)) %></strong></td>
            <td><span class="badge badge-info"><i class="icon-comment icon-white"></i> <%- post.comments.length %></span></td>
            <td>
              <%- link_to( '<i class="icon-edit"></i> Edit', pathTo.edit_admin_post(post), {class: 'btn btn-mini'}) %>
              <%- link_to( '<i class="icon-remove icon-white"></i> Delete', pathTo.admin_post(post), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p class="alert alert-block alert-info">  <strong>No posts were found.</strong></p>
    <% } %>
  </div>
</div>