<ul class="breadcrumb">
  <li><%- linkTo('Administration Panel <span class="divider">/</span>', pathTo.admin()) %></li>
  <li><%- linkTo('Post Management <span class="divider">/</span>', pathTo.admin_posts()) %></li>
  <li><%- linkTo('Create New Post', pathTo.new_admin_post(), { class: 'active' }) %></li>
</ul>

<div class="page-header">
  <h1>Create New Post</h1>
</div>

<% var form = formFor(post, {action: pathTo.admin_posts(), method: 'POST', id: "post-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
  <%- form.submit('<i class="icon-ok icon-white"></i> Create post', {class: 'btn btn-primary'}) %> or
  <%- linkTo('Cancel', pathTo.admin_posts(), {class: 'btn'}) %>
</div>
<%- form.end() %>
