<ul class="breadcrumb">
  <li><%- linkTo('Administration Panel <span class="divider">/</span>', pathTo.admin()) %></li>
  <li><%- linkTo('Post Management <span class="divider">/</span>', pathTo.admin_posts()) %></li>
  <li><%- linkTo(post.title, pathTo.admin_post(post), { class: 'active' }) %></li>
</ul>

<div class="page-header">
  <h1><%- post.title %></h1>
</div>

<%- linkTo('Back to Index', pathTo.admin_posts()) %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Author</th>
      <th>Comment Count</th>
      <th>Created</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%- author.displayName %></td>
      <td><%- comments.length %></td>
      <td><%- post.created_at %></td>
      <td><%- post.updated_at %></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="span12">
    <h4>Description</h4>
    <blockquote>
      <%- post.desc %>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Body</h4>
    <blockquote>
      <%- post.body %>
    </blockquote>
  </div>
</div>