<div class="page-header">
    <h1><%= post.title %></h1>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Author</th>
          <th>Comment Count</th>
          <th>Date Created</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%- author.displayName %></td>
          <td><%- comments.length %></td>
          <td><%- post.created_at %></td>
          <td><%- post.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Description</h2>
    <%- post.desc %>   
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Content</h2>
    <%- post.content %>  
  </div>
</div>

<hr />

<div class="well">
  <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_admin_post(post), {class: 'btn btn-primary'}) %>
  <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.admin_post(post), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
  <em>or</em>
  <%- link_to('Back to index', path_to.admin_posts()) %>
</div>

