<%- errorMessagesFor(role) %>
<div class="control-group">
  <%- form.label("Name", false, { class: "control-label" }) %>
  <div class="controls">
    <%- form.input("name", { "placeholder": "Administrator" }) %>
  </div>
</div>
<div class="control-group">
  <%- form.label("Description", false, { class: "control-label" }) %>
  <div class="controls">
    <%- form.textarea("desc", { class: "span8", "placeholder": "Describe this Role here..." }) %>
  </div>
</div>
