<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.roles() %>">roles</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit role</a></li>
</ul>

<div class="page-header">
    <h1>Edit Role</h1>
</div>

<% var form = formFor(role, {action: pathTo.role(role), method: 'PUT', id: "role-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update role', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.role(role), {class: 'btn'}) %>
</div>
<%- form.end() %>
