<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.posts() %>">posts</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit post</a></li>
</ul>

<div class="page-header">
    <h1>Edit post</h1>
</div>

<% var form = formFor(post, {action: pathTo.post(post), method: 'PUT', id: "post-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update post', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.post(post), {class: 'btn'}) %>
</div>
<%- form.end() %>
