<%- errorMessagesFor(user) %>

<div class="control-group">
<%- form.label("displayName", false, {class: "control-label"}) %>
  <div class="controls">
    <%- form.input("displayName") %>
  </div>
</div>

<div class="control-group">
  <%- form.label("email", false, {class: "control-label"}) %>
  <div class="controls">
    <%- form.input("email") %>
  </div>
</div>