<ul class="breadcrumb">
	<li><%- linkTo('Administration Panel <span class="divider">/</span>', pathTo.admin()) %></li>
	<li><%- linkTo('User Management <span class="divider">/</span>', pathTo.admin_users()) %></li>
	<li><%- linkTo(user.displayName, pathTo.admin_users(user), { class: 'active' }) %></li>
</ul>

<div class="page-header">
	<h1>Edit User | <%-user.displayName %></h1>
</div>

<div class="row">
	<div class="span9">
		<fieldset>
			<legend>Details</legend>
			<% var form = formFor(user, {action: pathTo.admin_user(user), method: 'PUT', id: "user-form", class: 'form-horizontal'}) %>
			<%- form.begin() %>
			<%- include _form %>
			<div class="form-actions">
			  <%- form.submit('<i class="icon-ok icon-white"></i> Update user', {class: 'btn btn-primary'}) %> or
			  <%- linkTo('Cancel', pathTo.admin_user(user), {class: 'btn'}) %>
			</div>
			<%- form.end() %>
		</fieldset>
	</div>

	<div class="span3">
		<fieldset>
			<legend>Roles</legend>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Role</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% memberships.forEach(function(m) { %>
						<tr>
							<td><%- m.role.name %></td>
							<td>
								<%- link_to( '<i class="icon-remove icon-white"></i> Delete', pathTo.admin_user_membership(m.membership.userId, m.membership.id), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
			<% if (roles.length) { %>
				<% var form = formFor(membership, { action: pathTo.admin_user_memberships(user), method: 'POST', class: 'form-inline' }) %>
				<%- form.begin() %>
					<label>Add Role</label>
					<% include ../memberships/_form %>
					<%- form.submit('<i class="icon-plus icon-white"></i>', {class: 'btn btn-primary'}) %>
				<%- form.end() %>
			<% } %>
		</fieldset>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h4>Accounts</h4>
		<table class="table table-bordered table-striped table-hover">
			<tr><th>Google</th><td><%- (user.googleId) ? 'Yes' : 'No' %></td></tr>
			<tr><th>Facebook</th><td><%- (user.facebookId) ? 'Yes' : 'No' %></td></tr>
			<tr><th>Twitter</th><td><%- (user.twitterId) ? 'Yes' : 'No' %></td></tr>
		</table>
	</div>
</div>