<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- stylesheet_link_tag('bootstrap', 'application', 'bootstrap-responsive', 'bootstrap-wysihtml5-0.0.2') %>
  <%- javascript_include_tag('//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js', 'bootstrap', 
    'rails', 'wysihtml5-0.2.0.min', 'bootstrap-wysihtml5-0.0.2.min', 'application') %>
  <%- csrf_meta_tag() %>

  <!-- TODO: Add Conditional for Admin, or load this in Admin Layout --> 
  <%- javascript_include_tag('admin') %>

</head>
<body>  
  <% include ../partials/nav_menu %>
  <% include ../partials/flash_msg %>
  <div class="container">
    <%- body %>
    <hr />
    <footer>
      <p>&copy; Company 2012</p>
    </footer>
  </div>
</body>
</html>